body {
    background-color: #998;
     position:relative;
}

body { 
    font-family: tahoma, verdana, sans-serif;

}

footer{
    font-family: tahoma, verdana, sans-serif;
    bottom:0px;
    width:100%;
    margin-top: 10px;
    border-top-color:black;
    border-top-style:solid;
}

header{
    position:static;
    background-color: white;
    margin-bottom: 10px;
    border-bottom-color:black;
    border-bottom-style:solid;
}
.dataTables_wrapper{
    overflow: auto !important;
    margin-bottom: 10px;
    
}
#left{
    width:650px;
    height:300px;
    float:left;
    }
#right{
    width:600px;
    margin-left:50px;
    height:400px;
    float:left;
    }
